/* add header style*/
header{
    background-color:#fff;
    padding:16px;position:fixed;
    top:0;
    left:0;
    width:100%;
    box-shadow:2px 2px 6px rgba(0,0,0,.5)}

/* add style for the text on the header */
.header-text{padding-bottom:0;
    font-family: "sarabun";
    font-weight: bolder;
    font-weight: 5em;
    text-align: center;
    font-size:2.3571428571rem;
    color: #ffffff;
    letter-spacing:-.75px;
    line-height:30px}

/* add styling to main container */
.main-container{
    background-image:url(../images/backg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    position: fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    box-shadow: inset 0 0 0 1000px rgba(51,102,255,0.2);
    height:100%;
    width:100%;
}
 
/* add styling to center container */
.center-container{
    width:90%;
    border-radius:7px;
    height:90%;
    background:#fff;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;  
    }

/* media query for center container responsiveness on small screen */
 @media screen and (max-width:992px){.center-container{width:40.5%;min-width:487.672px}}


 /* add styling to form container */
.form-container{
    width:40%;
    height:100%;
    padding: 5%;
    padding:0;
    margin:0;
    top:0;
    float:left;
    position:relative;
    overflow-x: auto; 
}

/* media query for form container responsiveness on small screen */
@media screen and (max-width:1500px){
    .main-container .form-container .reg-progress{min-width:339.516px}
    .main-container .form-container .reg-progress .level{margin-left:14%;max-width:156px}}

/* add styling to form container header */
.form-header{
    background: linear-gradient(to right,#0097ff 0%,#1433c4 0%,#000564 100%);
    border: 5px solid transparent;
    border-radius:0 7px 0 0;
    border-right: none;
    border-left: none;
} 


@media screen and (max-width:1024px){
    .main-container .image-holder{display:none}
    .main-container .form-container{width:100% !important; }
    .form-header{border-radius:7px 7px 0 0 !important}
}

.image-holder{
    width:60%;
    height:100%;
    float:left;
    position: relative;
    background-size:cover;
    object-fit: cover;
    border-radius:7px 0 0 7px;
    background-size: cover;
    background-repeat:no-repeat;
}

@media screen and (max-width:992px){
    .main-container .form-container{width:50%}
    .main-container .form-container .reg-progress{width:97%}
    .main-container .form-container .reg-progress .level{margin-left:17.5%;max-width:156px}
    .main-container .image-holder{display:none}}
 
.header-text{
    text-align:center;
    margin-bottom:.8rem}
    
.bottom{
    text-align: center;
}

.Login,.Signup,.recover{
    background: #FFAF30;
    color: #ffffff;
    padding: 10px 20px;
    margin: auto;
    margin: 25px 0 15px 0;
    border: none;
    cursor: pointer;
    width: 25%;
    border-radius: 3px;
    font-size: 18px;
  }

@media screen and (max-width:510px){
    .main-container .center-container{min-width: 320px;margin: auto;}
    .Signup,.Login{width:40%!important} 
}

#signup, #forgot_password{
    display: none;
}

.Login:hover, .Signup:hover, .recover:hover{
    background: #ffffff;
    color: #FFAF30;
    border: solid #FFAF30;
  }

.Signup{
    margin: 7px 0 15px 0;
  }

.recover{
    width: 40%;
  }

.signup-link, .login-link{
    font-family: "sarabun";
    text-align: center;
    cursor: pointer;
}

.recover-password .login-link{
    margin-top: 20px;
}


.forgot-password-link{
padding: 5%;
text-align:center; 
cursor:pointer;
}

.Signup:hover, .Login:hover{opacity: 1}

a{text-decoration: none;
    color:#1433c4 ; 
    } 
    
a:hover{
    text-decoration:underline;
    }

.input{
    text-align: center;  
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea, select {
  text-align: left;
  width: 70%;
  padding: 4%!important;
  display: inline-block;
  border: none!important;
  border-bottom: solid  #1433c4  ;
  outline: 0;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
  color:  #000564;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: #fff;
    border: 5px solid transparent;
    border-radius:0 7px 0 0;
  }

.my-imagery {
    position: relative;
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius:7px 0 0 7px;
    opacity:0.9;
}

.a{
    cursor: pointer !important;
}

.my-image{
    height:100%;
}

.banner-text {
    width: 60%;
    position: absolute;
    bottom: 40px;
    border-radius: 0px 4px 4px 0px;
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(0, 0, 0, 0.6);
}

.banner-text p {
    color: #fff;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 18px;
}


.banner-text h2 {
    color: #FFAF30; 
    font-weight: 600;
    margin-top: 10px;
}

.h2, h2 {
    font-size: 2rem;
    margin-bottom: .5rem;
    font-family: inherit;
    text-align: left;
}

.my-image {display:none;}

.banka-logo{
    background-image: url(../images/banka2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    position: absolute;
    right: 5px;
    height: 90px;
    /* max-width: 90px; */
    width: 30%;
    cursor: pointer;
    top: 10px;
  }
