
html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Sarabun", sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,.87);
}

@media screen and (max-width: 480px)
{body {
    font-size: 12px;
}}

body {
  font-family: "Sarabun", sans-serif;
  color: #fff;
  font-weight: 300;
  background: #f4f4f4; 
}

body {
  display: block;
  margin: 8px;
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 15%;
  height: 100%;
  width: 100%;
  background-color: #f4f4f4;
  overflow: auto;
}

.header{
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1001;
  background: linear-gradient(to right,#0097ff 0%,#1433c4 0%,#000564 100%);
  border-bottom: solid 5px #FFAF30;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
}

.header .banka-logo{
  background-image: url(../images/banka.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  top: 50%;
  left: 6.9571428571rem;
  height: 60px;
  max-width: 90px;
  width: 12%;
  cursor: pointer;
  size: 14%;
}

/* @media only screen and (max-width: 600px)
{.header .banka-logo {
    left: 3.957143rem;
}} */

.profile {
  float: right;
  width: 30%;
  height: 40px;
  margin: 20px 0;
}

@media only screen and (max-width: 600px)
{.header .profile{
    width: 30%;
}}

@media only screen and (max-width: 320px)
{.header .profile {
    width: 50%;
}
}

@media only screen and (max-width: 480px)
{.header .profile {
    width: 44%;
}}

@media only screen and (max-width: 992px)
{.header .profile {
    width: 40%;
}}

@media only screen and (max-width: 600px)
{.header .profile .avatar {
    margin-right: 10px;
}}

.header .profile .avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid #fff;
  background-color: #fff;
  float: left;
  text-align: center;
}

.username {
  float: left;
  color: #fff;
  margin-right: 20px;
  line-height: 10px;
  text-transform: capitalize;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.header .profile .logout {
  width: 70px;
  height: 100%;
  float: left;
  margin-right: 20px;
}

@media only screen and (max-width: 600px)
{.header .profile .logout{
    margin-right: 0;
}}

div {
  display: block;
}

.btn-logout {
  width: 100%;
  height: 35px;
  background: none;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 4px;
  margin: 2px 0;
  padding: 0;
  text-transform: capitalize;
  text-align: center;
}

input, textarea, select, button, meter,select {
  -webkit-writing-mode: horizontal-tb !important;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

.general-side-bar {
  /* border: solid black 5px; */
  position: absolute;
  top: 12%;
  width: 100%;
  height: 88%;
}

.wrappers {
	height: 100%;
}

.wrappers .row {
    margin: 0;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@media only screen and (min-width: 992px)
{
.wrappers .side-bar {
    width: 230px;
}

}

ul:not(.browser-default) {
    padding-left: 0;
    list-style-type: none;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}


.wrappers .side-bar .nav li {
    position: relative;
    display: block;
  width: 250px;
  cursor: pointer;

}

li:hover{
  background: linear-gradient(to right,#0097ff 0%,#1433c4 0%,#000564 100%);
	transform: scale(1.01) 
}

.wrappers .side-bar .nav li a:hover {
	color:#ffffff;
}

.wrappers .side-bar .nav li a {
    position: relative;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #1433c4;
    text-decoration: none;
    -webkit-transform: translateZ(0) scale(1,1);
    transition: .1s linear;
}

a {
    background-color: transparent;
    color: #039be5;
    -webkit-tap-highlight-color: transparent;
	text-decoration: none;}
	
	.wrappers .side-bar .nav li a .mdi {
		position: relative;
		display: table-cell;
		width: 35px;
		height: 45px;
		text-align: center;
		vertical-align: middle;
		font-size: 24px;
	
	}

	i {
		line-height: inherit;
	}

	i, cite, em, var, address, dfn {
		font-style: italic;
	}

	.wrappers .side-bar .nav li a span {
		position: relative;
		display: table-cell;
		vertical-align: middle;
		width: 190px;
    text-transform: capitalize;
    cursor: pointer;
	}

	.wrappers .side-bar .nav li a.active-link {
  background: linear-gradient(to right,#0097ff 0%,#1433c4 0%,#000564 100%);
		outline: 0;
		color: #fff;
		transition: .2s;
		width: 100%
	}

	.row .col.s1 {
		right: auto;
	}

	.row .col {
		padding-left: 0;
	}

	.row .col {
		float: left;
		box-sizing: border-box;
		padding: 0 .75rem;
		min-height: 1px;
	}


	@media screen and (max-width: 480px)
{body {
    font-size: 12px;
}}


@media only screen and (min-width: 0)
{html {
    font-size: 14px;
}}


ul:not(.browser-default) li {
    list-style-type: none;
}

a, a:hover {
    color: #fff;
}

.wrappers .side-bar .nav li a .fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
	font-size: 24px;
	padding-right: 10px;
	
}

.wrappers .side-bar .nav li a .fa::before {
    padding-left: 10px;
}

@media screen and (max-width: 992px)
{
.wrappers .side-bar .nav li a .fa{
    padding-right: 12px;
    width: 32px;
    height: 31px;
}}

.wrappers .side-bar {
  left: 0;
  overflow: hidden;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1,1);
  z-index: 1000;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12), 0 3px 1px -2px rgba(0,0,0,.2);
  color: #1433c4 ;
  position: fixed;
  top: 80px;
  bottom: 0;
  padding: 0;
  float: left;
  background: #fff;
  margin-top: 20px;
  margin-left: 30px;
  border-radius: 6px;
  height: 490px;

}

@media screen and (max-width: 1020px)
{.wrappers .side-bar {
    width: 44px!important;
    margin-top: 0px;
    margin-left: 10px;
}
.wrappers .side-bar:hover{
  width: 200px !important;
}
.transaction, .watch,.create-account,.staff-all-bank-accounts,.all-bank-accounts,.user-profile,
.delete-account,.staff-delete-account,.change-status,.user-account-record,.debit-account,.credit-account,
 .user-account,.user-account-record-staffpage{
  width: 95%!important


 }
}



.transaction, .watch,.create-account,.staff-all-bank-accounts,.all-bank-accounts,.user-profile,
.delete-account,.staff-delete-account,.change-status,.user-account-record,.debit-account,.credit-account,
 .user-account,.user-account-record-staffpage{
  /* position: fixed; */
  display:none;
  top: 10%;
  color: #000000; 
  font-size: 15px;
  margin:auto;
  height: 80%;
  width: 80%;
  text-align: center;
  float: right;
  
}

.text-format{
  text-align:left; 
  padding-left: 4%;
}

.all-bank-accounts,.staff-all-bank-accounts,.user-profile{
  display:block;
}

.manage-profile-wrapper {
  width: 94%;
  height: auto;
  margin: 0 auto;
  margin-left: 6%;
  margin-top: 90px;
 
}

.manage-profile-wrapper .title {
  width: 100%;
  margin: auto;
  text-transform: capitalize;
}

.center, .center-align {
  text-align: center;
}

.manage-profile-wrapper .title .user-details {
  text-transform: none;
  margin: 2px;
  font-weight: 400;
}

.manage-profile-wrapper .title .fullname {
  color: #000000;
  font-size: 1.75rem;
}

.manage-profile-wrapper .main-content {
  background: #fff;
  padding: 65px 0 5px 0;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.1);
  position: relative;
}

.manage-profile-wrapper .trans {
  padding: 0px !important;
}

@media screen and (max-width: 600px)
{.manage-profile-wrapper .main-content {
    padding: 35px 25px;
}}

@media screen and (max-width: 320px)
{.manage-profile-wrapper .main-content {
    padding: 30px 20px;
}}

.top-menu {
  position: absolute;
  top: 0px;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  border-radius: 4px 4px 0 0;
  cursor: pointer;
  height: 50px;
  margin-bottom: 15px;
  line-height: 60px;
  padding-left: 8px;
  color: #ffffff;
  font-size: 1em;
  transition: .2s;
  text-transform: capitalize;
  font-weight: 400;
  background: #1433c4 ;
}

.manage-profile-wrapper .main-content .top-menu .icon-container {
  position: absolute;
  left: 30px;
  font-size: 1.2rem;
  padding-left: 10px;
}

.Debits {
  margin-left: 20%;
}

@media screen and (max-width: 480px)
{.manage-profile-wrapper .main-content .each-menu {
    padding-left: 0;
    height: 50px;
    line-height: 50px;
}}

.manage-profile-wrapper .main-content .each-menu {
  position: relative;
  background: #fff;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
  margin-bottom: 6px;
  line-height: 50px;
  padding-left: 8px;
  color: #000000;
  transition: .2s;
  text-transform: capitalize;
  font-weight: 400;
  
}

@media screen and (max-width: 480px)
{.manage-profile-wrapper .main-content .each-menu {
    padding-left: 0;
    height: 50px;
    line-height: 50px;
}}

@media screen and (max-width: 480px)
{.manage-profile-wrapper .main-content .each-menu .icon-container {
    left: 10px;
}}

.manage-profile-wrapper .main-content .each-menu .icon-container {
  position: absolute;
  left: 30px;
  font-size: 1.2rem;
  padding-left: 10px;
}




/* media queries */
@media screen and (max-width: 680px)
{.account-details {
    height:40px!important;
}
.header-text{
  font-size: 1.3571428571rem!important;
  margin-top: 6px!important;
}

}

@media screen and (max-width: 770px)
{.submit-account{
  width: 45%!important;
  font-size: 13px!important;
  padding: 5px 5px!important;
  text-align: center;
}
}

@media screen and (max-width: 700px){
/* {.main-content .trans-table, .trans-header{
  display: none!important;
} */
#myTable th, #myTable td{
  font-size:12px!important;
  /* overflow: auto !important; */
  /* padding: 2px!important; */
}
.main-container .search{
  width:70%;
}
}

.trans-header{
  font-size: 20px;}

.manage-profile-wrapper .main-content .each-menu .link-name {
  /* margin-left: 50px; */
  font-size: 1.2rem;
  text-align: left;
  /* margin-left: 50%; */
  position: absolute;
}

@media screen and (max-width: 480px)
{.manage-profile-wrapper .main-content .each-menu .link-name {
    font-size: 14px;
}}

@media screen and (max-width: 320px)
{.manage-profile-wrapper .main-content .each-menu .link-name {
    font-size: 12px;
    margin-left: 45px;
}}

.Credits {
  margin-left: 40%;
}

.Balance {
  margin-left: 60%;
}

.Branch {
  margin-left: 80%;
}

.manage-profile-wrapper .main-content .top-menu .link-name {
  /* margin-left: 50px; */
  font-size: 1.2rem;
  text-align: left;
  /* margin-left: 50%; */
  position: absolute;
}





/*..........test style.......*/
.profileMargin {
  margin-left: 50%;
}

.account-details {
  background: #1433c4;
  color: #ffffff;
  top: 0px;
  left: 0px;
  right: 0px;
  position: absolute;
  height: 70px;
  border-radius: 5px 5px 0 0;
}

.manage-profile-wrapper .main-content .each-menu i.mdi {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  background: #4cd321;
  color: #fff;
}

.manage-profile-wrapper .title .image-container {
  position: relative;
  width: 100px;
  margin: auto;
  height: 100px;
  border-radius: 50%;
  background-color: #fff;
  font-size: 5.333rem;
  color: #1433c4 ;
  line-height: 89px;
  /* border: 1px solid #d6d6d6; */
}

.manage-profile-wrapper .title .image-container .edit-class {
  line-height: 18px;
  position: absolute;
  right: 11px;
  display: inline-block;
  background-color: #fff;
  border-radius: 50%;
  height: 20px;
  border: 1px solid #e2e2e2;
  padding: 1px 2px 0;
  font-size: 13px;
  color: #272727;
}

.manage-profile-wrapper .title .image-container .dp-input {
  display: none;
}

input[type="hidden" i], input[type="image" i], input[type="file" i] {
  -webkit-appearance: initial;
  background-color: initial;
  cursor: default;
  padding: initial;
  border: initial;
}

input[type="file" i] {
  align-items: baseline;
  color: inherit;
  text-align: start !important;
}

input {
  line-height: normal;
}

.account-details-container{
  width: 70%;
  margin: 0 auto;
}


.input {
  text-align: center;
}

input[type="text"], input[type="password"], input[type="email"], input[type="text"],input[type="number"],textarea,
select {
  text-align: left;
  width: 70% !important;
  margin: 15px 10px 0px 10px!important;
  padding: 10px 7px 10px 7px!important;
  display: inline-block;
  border: none!important;
  border-bottom: solid #1433c4;
  outline: 0;
  -ms-box-sizing:content-box;
  -moz-box-sizing:content-box;
  -webkit-box-sizing:content-box; 
  box-sizing:content-box;
  color:  #000000;
}

.submit-account, .submit-user {
  background:#FFAF30;
  color: white;
  padding: 10px 20px;
  margin: 15px 0 10px 0;
  border: none;
  cursor: pointer;
  width: 20%;
  border-radius: 3px;
  font-size: 18px;
  text-align: center;
}

.submit-account:hover, .submit-user:hover {
  background:#ffffff;
  color: #FFAF30;
  border: solid #FFAF30;
}

.admin-modal-button{
  width:30%;
}

.view-record-btn{
  background:green;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 5px 5px;
}

.delete-record-btn{
  background:crimson;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 5px 5px;
}

.submit-user{
  width:30%;
}

.header-text {
  margin: auto;
  padding-bottom: 0;
  font-family: "Sarabun", sans-serif;
  font-weight: bolder;
  font-weight: 5em;
  font-size: 15px;
  text-align: center;
  font-size: 2.3571428571rem;
  color: #fff;
  letter-spacing: -.75px;
  line-height: 30px;
  margin-top: 16px;
}

.create-account-container,.debit-account-container,.credit-account-container,.userAccountContainer,
.deleteAccountContainer,.statusAccountContainer{
  width: 65%;
  margin: 0 auto;
  margin-top: 50px;
}


.accNumber{
  margin-left: 26%;
}

.accStatus{
  margin-left: 47%;
}

.account-type{
  margin-left: 65%;
}

.account-button{
  margin-left: 83%;
}
.delete-account-button{
  margin-left: 90%;
}


.account-list-container{
  width: 75%;
  margin: 0 auto;
}


label{
  /* display: inline-block; */
  float: left;
  clear: left;
  text-align: left;}

  .change-user-status {
    /* background-image: linear-gradient(to right,#50A5A6 ,#034f50,#204e5f); */
    color: black;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 10px 5px;
    cursor: pointer;
    width: 10%;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
}

.transactionAnchor{
  padding-bottom:25px;
  position: relative;
  color:#1433c4;
}

a:hover {
  color:#1433c4;}

.reduce-sidebar{
  width: 49px !important;
  margin-top: 10px;
  margin-left: 10px;
}



/* add overlay */
.overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:black !important ; /* Black background with opacity */
  /* z-index: 2; Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
  text-align: center;
  padding-top: 90px;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  z-index: 3000;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  width: 50%;
  color: #1433c4;
  border-radius:6px 6px;
}

/* The Close Button */
.close, .admin-close,.bank-account-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus,
.admin-close:hover,
.admin-close:focus,
.bank-account-close:hover,
.bank-account-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.admin-button{
  position:relative;
}


.modal-header {
  padding: 2px 2px;
  width:100%;
  color: #1433c4;
  border-radius: 6px;
  text-align: center;
}

.modal-body {padding: 2px 16px;}
.modal-bottom{
  text-align: center;
  
}
.modal-button, .admin-modal-button, .account-modal-button{
  margin-right: 20px
}

.navbar {
  width: 100px;
  height: 75px;
  box-sizing: border-box;
  padding: 0px 0px;
  font-family: "sarabun";
  font-weight: bolder;
  font-weight: 5em;
  font-size: 17px;
  color: #FFAF30;
  margin-right: 20px;
  float: right;
  max-width: 150px;
}

.navbar ul {
  list-style-type: none;
  margin: 0px 10px 10px 0px;
  text-align: center;
  padding: 0px;
}

.navbar ul li a {
  color: #fff;
  text-decoration: none;
}
.navbar ul li a:hover {
  color: #fff;
  opacity: 0.7;
}

.navbar ul li {
  display: inline;
  margin: 0 0px;
}

@media only screen and (min-width: 802px) {
  .top__nav {
    display: none;
  }
  .main__body,
  .main__body__height {
    margin-top: 0px;
  }

  .dropdown {
    cursor: pointer;
    padding-left: 20%;
  }
  .navbar {
    width: 30%;
    box-sizing: border-box;
    padding: 9px 0px;
    color: #FFAF30;
    margin-left: 0px;
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown_label {
  width: 10%;
  text-align: right;
}

.dropdown_label {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 98px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown_label:hover .dropdown-content {
  display: block;
}

.user {
  display: inline-block;
}


.all-bank{
  margin-top:100px;
}

#activate-button{
  background: #4da475;
  color: #ffffff;
}

#activate-button:hover{
  border: solid #4da475;
  background: #ffffff;
  color: #4da475;
}

#deactivate-button{
  background:#FFAF30;
  color: #ffffff;
}

#deactivate-button:hover{
  border: solid #FFAF30;
  background: #ffffff;
  color: #FFAF30;
}

#delete-button{
  background:#ff003a;
  color: #ffffff;
}

#delete-button:hover{
  border: solid #ff003a;
  color:#ff003a;
  background: #ffffff;
}

#space-trans{margin-bottom:5px;}

textarea{
height:100px;
resize: none;
}

.user-transaction{
  position:relative;
  text-align: left;
}

.trans-image1{
  width:35%;
  height:150px;
  margin-left:10%;
  margin-right:5%;
}

.trans-image2{
  width:35%;
  height:150px;
  margin-right:10%;
}

.avatar {
  vertical-align: middle;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  
}

* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  /* border: 1px solid #ddd; */
  margin-bottom: 2px;
  margin-top:0px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
 
  /* border: 1px solid #ddd; */
  /* font-size: 18px; */
}

#myTable th, #myTable td {
  text-align: left;
  padding: 5px 10px 5px 20px ;
  font-size: 1.2rem;
  /* left: 40px; */
  font-size: 1.2rem;
  padding-left: 16px;
  
}

#myTable th {
  background:#1433c4;
  padding: 13px 10px 13px 20px !important;
  color:#ffffff;

}

#myTable td {
  background:#ffffff;

}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

 #myTable tr:hover {
  background-color: #f1f1f1 !important;
}

.overflow{overflow-x:auto;}

.tabledata1, .tabledata2{
  width:20%;
  }

.tabledata3, .tabledata4,.tabledata5{
  width:15%;
  }

.tdfirst{
  border-radius:3px 0 0 0 !important;}
  
.tdend{
    border-radius:0 3px 0 0 !important;}

.profiletransheader{
  text-align:center !important;
  border-radius:3px 3px 0 0 ;}
